@media screen and (max-width: 600px) {
    header nav ul {
        display: none;
    }

    header nav button {
        display: block;
    }

    h1 {
        font-size: xxx-large;
    }

    h2 {
        font-size: xx-large;
    }


    .advantages {
        margin: 0px;
    }

    .advantages .content {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 5px;
        padding: auto;
    }

    .select_caces {
        flex-direction: column;
        margin: auto;
        padding: auto;
    }

    .map iframe {
        width: 100%;
    }

    .review_text img {
        /* width: 100px; */
        height: 30%;
    }

    .review_text blockquote {
        width: 60%;
        padding: 5px;
        font-size: large;
    }

    .select_cake a {
        width: 90%;
    }

    .select_cake img {
        width: 90%;
    }

    .container {
        padding: 0px;
        margin: 0px;
    }

    form {
        width: 90%;
    }


    .feedback input {
        width: 80%;
    }

}

/* #region НАЗВАНИЕ_СЕКЦИИ */   /* #endregion */

@media (min-width: 768px) {
    header a {font-size: 1,2rem;}
    header img.logo {width: 8vw;}
}

@media (min-width:1024px) {
    header a {font-size: 1.5rem;}
    header img.logo {width:6vw}
}

@media (min-width: 1440px) {
    header a {font-size: 2rem}
    header .logo {width:4vw}
}


/* Edet verstka */
@media (min-width:590px) {
    .banner.first {min-height: 50vh;}
    .banner h1 {font-size: 3rem;}
    .banner h2 {font-size: 1.5rem;}
}
@media (min-width:1024px) {
    .banner.first {min-height: 60vh;}
    .banner h1 {font-size: 4rem;}
    .banner h2 {font-size: 2rem;}
}
@media (min-width:1440px) {

    .banner h1 {font-size: 6rem;}
    .banner h2 {font-size: 4rem;}
}

@media (min-width:590px) {
    .footer .footer_main {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 1024px) {
    .advantages .advantage img {
        transition: all 0.8s ease-in-out;
    }
    .advantages .advantage img:hover {
        transform: scale(1.3);
    }
}


@media (min-width: 590px) {
    .select .select_cakes {
        display: flex;
        justify-content: space-between;
    }
    .select .select_caces .select_cake {
        width: 45%;
    }
    .select .select_caces .select_cake a {
        font-size: 1.2rem;
    }
}

/* animation for buttons */
@media (min-width: 1024px) {
    .select .select_caces .select_cake button {
        transition: background 0.8s ease-out;
    }
    .select .select_caces .select_cake a:hover {
        background: #fcfbfa;
        color: #39312d;
    }
}

@media (min-width: 590px) {
    .about .about_wrap {
        font-size: 1.5rem;
    }
}
@media (min-width: 768px) {
    .about .about_wrap {
        width: 50%;
    }
}
@media (min-width: 1440px) {
    .about .about_wrap {
        font-size: 2rem;
    }
}

@media (min-width: 590px) {
    .reviws .content .review .review_text blockquote {
        font-size: 1.2rem;
    }
}
@media (min-width: 768px) {
    .reviws .content .review {
        display: flex;
    }
    .reviws .content .review img {
        display: block;
        width: 10rem;
        height: 10rem;
        margin-bottom: 0.5rem;
        border-radius: 50%;
    }
}
@media (min-width: 1440px) {
    .review .content .review .review_text blockquote {
        font-size: 1.8rem;
    }
}

@media (min-width: 768px) {
    .feedback {
        font-size: 1.2rem;
    }
    .feedback h3 {

        font-size: 3rem;
    }
}

@media (min-width:768px) {
    .cakes .cake .cake_buy .cake_buy_wrap {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
}
@media (min-width:1024px) {
    .cakes .cake .cake_descript {
        display: flex;
    }
    .cakes .cake .cake_buy {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 1.5rem;
    }
    .cakes .cake .cake_buy a {
        display: inline-block;
        width: 30%;
        height: min-content;
        transition: all 0.8s ease-in;
    }
    .cakes .cake .cake_buy a:hover {
        text-decoration: none;
        background: #fcfbfa;
        color: #39312d;
        transform: scale(1.2);
    }
}
@media (min-width: 1200px) {
    .cakes .cake {
        font-size: 1.5rem;
    }
    .cakes .cake .cake_buy a {
        font-size: 2rem;
    }
}

@media (min-width: 768px) {
    .fillings h2 {
        font-size: 3rem;
    }
    .fillings .content a {
        font-size: 3.5rem;
    }
}

/* Delivery page */
@media (min-width: 425px) {
    .delivery .delivery_price table {
        font-size: 1rem;
    }
}
@media (min-width: 425px) {
    .delivery .delivery_price table {
        font-size: 1rem;
    }
}
@media (min-width: 590px) {
    .delivery .delivery_price table {
        font-size: 1.2rem;
    }
}
@media (min-width: 768px) {
    .delivery .delivery_price table {
        font-size: 1.5rem;
    }
}
